<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Malticulture Links</title>
    <link rel="stylesheet" href="/malti_styles_new.css">
</head>

<body>
    <header class="header-bar">
        <img class="picto-banner" src="/images/banner_malti_only_picto.png" alt="A nice malticulture banner">
    </header>
    <!-- header ends here -->

    <div class="not-found-container">

        <p class="not-found-message">Nous sommes désolés, mais aucune bière correspondant au code-barres
            <span><%= barcode %></span>
            n'a été identifiée</p>

    </div>

    <!-- footer begins -->
    <footer>
        <img class="picto-banner" src="/images/banner_malti_only_picto.png" alt="A nice malticulture banner">
        <div class="copyright">
            <p class="footer-p">Copyright &copy; 2021 <a href="https://www.malticulture.ch"
                    class="text-muted">Malticulture</a>. All rights reserved.</p>
        </div>
    </footer>

</body>

</html>