<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Malticulture Links</title>
    <link rel="stylesheet" href="/malti_styles.css">
</head>

<body>
    <p>Hello Boys</p>
</body>

</html>