<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Malticulture Links</title>
    <link rel="stylesheet" href="/malti_styles.css">
</head>

<body>
    <header class="header-bar">
    </header>
    <!-- header ends here -->

    <div class="main-container">
        <h1>Infos sur la Bière identifiée</h1>
        <p>Code bar: <%= data.code %></p>
        <h3>Entreprise: <%= data.brand %></h3>

        <div class="description">
            <h2>Liens entre la bière et l'agriculteur</h2>
            <p><%= data.infos %></p>
        </div>
    </div>

    <!-- footer begins -->
    <footer>
        <p class="m-0">Copyright &copy; 2021 <a href="/" class="text-muted">Maltilink</a>. All rights reserved.</p>
    </footer>

</body>

</html>