<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Malticulture Links</title>
    <link rel="stylesheet" href="malti_styles.css">
</head>

<body>
    <header class="header-bar">
    </header>
    <!-- header ends here -->

    <div class="main-container">
        <p>Un site web avec de bonnes binches?</p>
        <p><a href="/binch/7640103300787">Binch #1</a></p>
        <p><a href="/binch/7640180521044">Binch #2</a></p>
        <p><a href="/binch/7640184520050">Binch #3</a></p>
        <p><a href="/binch/7640399390080">Binch #4</a></p>

    </div>

    <!-- footer begins -->
    <footer>
        <p class="m-0">Copyright &copy; 2020 <a href="/" class="text-muted">Malticulture</a>. All rights reserved.</p>
    </footer>

</body>

</html>