@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.main-container {
    margin-top: 40px;
}

.main-container p {
    padding: 0 15px;
}

.banner {
    background-color: #E20613;
    color: #fff;
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
    width: 100%;
}

.picto-banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.website {
    padding-left: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.website a {
    text-decoration: none;
    color: black;
}

span {
    font-weight: bold;
}

.beer-container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.beer-table {
    text-align: left;
    border: 1px solid black
}

.beer-table a {
    text-decoration: none;
    color: black;
}

.beer-table a:hover {
    color: grey;
}

.beer-table th, td {
    padding: 5px;
}

.beer-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.copyright {
    width: 80%;
    text-align: center;
    font-size: 12px;
    margin: auto;
}